/* Community Section */
.bms-community {
    padding: 80px;
    background-color:  #6a3de8;
    color: white;
}

.bms-community .bms-container {
    display: flex;
    align-items: center;
    gap: 60px;
}

.bms-community-content {
    flex: 1;
}

.bms-community-content h2 {
    color: var(--white);
}

.bms-community-content p {
    color: var(--light-purple);
    margin-bottom: 30px;
}

.bmscommunity-content .btn {
    background-color: var(--secondary-color);
    color: var(--white);
}

.bms-community-content .btn:hover {
    background-color: #e69500;
}

.bms-community-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}