.gallery {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 50px 20px;
      margin-bottom: 50px;
    
  }

  .gallery-container h1 {
    text-align: center;
    color: black;
    font-size: 2.5rem;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .gallery-image {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 20px;
    border: 3px solid #e26918 ;
    box-shadow: 0 0 20px #00ffff88;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .gallery-image:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px #00ffff;
  }
  
  /* Optional floating animation */
  @keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
  }
  
  .floating {
    animation: float 4s ease-in-out infinite;
  }
